@font-face {
  font-family: Zelda1;
  src: url("../dist/HyliaSerifBeta-Regular.otf") format("opentype");
}

@font-face {
  font-family: Zelda2;
  src: url("../dist/TheWildBreathofZelda.otf") format("opentype");
}

@font-face {
  font-family: Zelda3;
  src: url("../dist/BotW_Sheikah.ttf") format("opentype");
}

@mixin fullScreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
  @include fullScreen();
  background-color: #CCB59D;
}

#bg1{
  @include fullScreen();
  z-index: -1;
  opacity: 0.5;
  filter: blur(1px) opacity(0.52) sepia(0.52) saturate(1.3) url('#grain');
  //filter: brightness(1.3) invert(0.17) saturate(2.6) sepia(0.25) url('#grain');
  mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0));
}

.banner{
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

h1{
  font-family: 'Zelda2';
  color: white;
  font-size: 5rem;
  text-align: center;
  font-weight: normal;
  margin: 1rem;
  text-shadow: 2px 2px black;
}

h2{
  font-weight: normal;
  margin: 0;
}

#leaderboard{
  font-family: 'Zelda1';
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes SlideUp { 
  100% {
    transform: translateY(0);
  }
}


.nameBlock{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: rgba(256,256,256,0.4);
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  span{
    padding: 0.4rem;
    display: flex;
    justify-content: center;
  }
  .number {
    color: white;
    width: 1.5rem;
    height: 100%;
    height: fit-content;
    font-size: 1.3rem;
    border-radius: 100%;
    background-color: #CCB59D;
  }
  @for $i from 1 through 10 {
    &:nth-child(#{$i}n) {
      transform: translateY(#{1500 + ((11 - $i) * 40)}px);
      animation: SlideUp 2s cubic-bezier(0.000, 0.525, 0.005, 1.005);
      animation-fill-mode: forwards;
      animation-delay: #{$i * 0.25}s;
    }
  }
}



input{
  appearance: none;
  border: none;
  background-color: #92c582;
  color: white;
  font-weight: normal;
  border-radius: 1rem;
  padding: 0.5rem;
  font-family: 'Zelda3';
  box-shadow: 2px 2px 4px #536f5085;
  cursor: pointer;
}

#korok{
  width: 1.5rem;
  padding: 0.5rem;
}